{% extends "base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container">

    <div class="row mt-5 col-md-12">
        <div class="col-sm-12 offset-8">
            <a href="{{ url("shuffle") }}">Shuffle again</a> |
            <a href="{{ url("deck") }}">Deck</a> |
            <a href="{{ url("draw") }}">Draw</a> |
            <a href="{{ url("deck2") }}">Deck2</a> |
            <a href="{{ url("deck-json") }}">DeckJson</a>
        </div>
    </div>


    <div class="row mt-5 col-md-12">
        <div class="col-sm-12">

        {% for card in shuffled %}
        <img src='{{ asset('img/cards_img/' ~ card ~ '.svg') }}' alt="card" width="90">
        {% endfor %}

        </div>
    </div>
</div>

{% endblock %}
