{% extends "base.html.twig" %}

{% block title %}Metrics{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-5 col-sm-8 offset-1">
        <h1>Metrics</h1>
    </div>

    <div class="row mt-5 col-sm-8 offset-1">
        {{ include('metrics/introduction.markdown.twig')|markdown_to_html }}
    </div>

    <div class="row mt-5 col-sm-8 offset-1">
        {{ include('metrics/phpmetrics.markdown.twig')|markdown_to_html }}
    </div>

    <div class="row mt-5 col-md-8 offset-1">
        <div class="col-sm-7">
            {{ include('metrics/maintainability.markdown.twig')|markdown_to_html }}
         </div>
        <div class="col-sm-5">
            <img src='{{ asset('img/metrics/maintainability.png') }}' alt="maintainability" width="100%">
        </div>
    </div>

    <div class="row mt-5 col-md-8 offset-1">
        <div class="col-sm-7">
            {{ include('metrics/scrutinizer.markdown.twig')|markdown_to_html }}
         </div>
        <div class="col-sm-5">
            <img src='{{ asset('img/metrics/scrutinizer.png') }}' alt="scrutinizer" width="100%">
        </div>
        <img src='{{ asset('img/metrics/rating1.png') }}' alt="rating" width="100%"><img src='{{ asset('img/metrics/rating2.png') }}' alt="rating" width="100%">
    </div>

    <div class="row mt-5 col-sm-8 offset-1">
        {{ include('metrics/improvements.markdown.twig')|markdown_to_html }}
    </div>
    
    <div class="row mt-5 col-sm-8 offset-1">
        <h4>Diskussion</h4>
    </div>

</div>


{% endblock %}
