{% extends "base.html.twig" %}

{% block title %}{{title}}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row mt-5 col-md-12">

            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">ISBN</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                        <tr>
                            <th scope="row">{{ book.id }}</th>
                            <td><a href="{{ path("show-by-id", {id: book.id} ) }}">{{ book.title }}</a></td>
                            <td>{{ book.author }}</td>
                            <td>{{ book.ISBN }}</td>
                            <td><a href="{{ path("update-by-id", {id: book.id} ) }}">Update</a> | 
                                <a href="{{ path("delete-by-id", {id: book.id} ) }}">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
